.body {
  background: #F9F9F9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-screen {
  background: #EEEFF1;
  display: flex;
  justify-content: center
}

.about-me {}

.numbers {
  background: #34547A;
}

.skills {}

.video {
  background: #EEEFF1;
}

.projects {}

.form {
  background: #EEEFF1;
}

.footer {
  background: #34547A;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-bot {
  display: flex;
  justify-content: space-around;
}

.header-mid {
  display: flex;
  justify-content: center
}

.logo {
  width: 96px;
  height: 60px;
  left: 402px;
  top: 50px;

  font-family: 'Revalia';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  color: #34547A;
}

.navbar {}

.navbar__list {
  list-style-type: none;
  text-transform: uppercase;
  display: flex;
}

.navbar__item {
  margin-left: 7%;
}

.navbar__link {
  outline: none;
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.1em; 
}

.header-bot__image {
  width: 357px;
  height: 233.7px;
  margin-top: 21px;
  margin-bottom: 42.3px;
  margin-left: 87px;
  margin-right: 130px;
}

.header-bot__text {}

.title{}

.title--h1{}

.paragraph{}

.button{}

.button--big{}

.header-mid__text{}

.title--h2{}

.paragraph--center{}

.numbers__list{}

.number__item{}

.header-mid__image{}

.title--h3{}

.skills__list{}

.skills__item{}

.slill-bar{}

.header-top__text{}

.form-input{}

.form-input--big {}

.paragraph--small{}



