<!DOCTYPE html>
<html lang="ru">

<head>
  <tittle></tittle>
  <link href="input.css">
</head>

<body class="body">
  <!--first-screen-->
  <section>
    <header>
      <div class="container">
        <div class="header-top">
          <div class="logo">WD</div>
          <nav class="navbar">
            <ul class="navbar__list">
              <li class="navbar__item"><a href="#" class="navbar__link">главная</a></li>
              <li class="navbar__item"><a href="#" class="navbar__link">об авторе</a></li>
              <li class="navbar__item"><a href="#" class="navbar__link">работы</a></li>
              <li class="navbar__item"><a href="#" class="navbar__link">процесс</a></li>
              <li class="navbar__item"><a href="#" class="navbar__link">контакты</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-bot">
          <img class="header-bot__image" src="images/notebook.png" alt="notebook">
          <div class="header-bot__text">
            <h1 class="title title--h1">Дизайн и верстка</h1>
            <p class="paragraph">
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
              стандартной "рыбой" для текстов на латинице с начала XVI века.
            </p>
            <button class="button button--big">написать мне</button>
          </div>
        </div>
      </div>
    </header>
  </section>
  <!--about-me-->
  <section>
    <header>
      <div class="container">
        <div class="header-mid">
          <div class="header-mid__text">
            <h2 class="title title--h2">Обо мне</h2>
            <p class="paragraph paragraph--center">
              Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
              стандартной
              "рыбой" для текстов на латинице с начала XVI века.
            </p>
          </div>
        </div>
      </div>
    </header>
  </section>
  <!--numbers-->
  <section>
    <header>
      <div class="container">
        <div class="header-mid">
          <ul class="numbers__list">
            <li class="number__item">
              <img class="header-mid__image" src="images/scroll.png" alt="scroll">
              <div class="header-mid__text">
                <h3 class="title title--h3">40+</h3>
                <p class="paragraph">проектов</p>
              </div>
            </li>
            <li class="number__item">
              <img class="header-mid__image" src="images/scroll.png" alt="scroll">
              <div class="header-mid__text">
                <h3 class="title title--h3">40+</h3>
                <p class="paragraph">проектов</p>
              </div>
            </li>
            <li class="number__item">
              <img class="header-mid__image" src="images/scroll.png" alt="scroll">
              <div class="header-mid__text">
                <h3 class="title title--h3">40+</h3>
                <p class="paragraph">проектов</p>
              </div>
            </li>
            <li class="number__item">
              <img class="header-mid__image" src="images/scroll.png" alt="scroll">
              <div class="header-mid__text">
                <h3 class="title title--h3">40+</h3>
                <p class="paragraph">проектов</p>
              </div>
            </li>
            <li class="number__item">
              <img class="header-mid__image" src="images/scroll.png" alt="scroll">
              <div class="header-mid__text">
                <h3 class="title title--h3">40+</h3>
                <p class="paragraph">проектов</p>
              </div>
            </li>
            <li class="number__item">
              <img class="header-mid__image" src="images/scroll.png" alt="scroll">
              <div class="header-mid__text">
                <h3 class="title title--h3">40+</h3>
                <p class="paragraph">проектов</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </section>
  <!--skills-->
  <section>
    <header>
      <div class="container">
        <div class="header-mid">
          <div class="header-mid__text">
            <h2 class="title title--h2"></h2>
          </div>
          <ul class="skills">
            <li class="skills__item">
              <p class="paragraph">Adobe Photoshop</p>
              <div class="rectangle--1"></div>
              <div class="rectangle--2"></div>
            </li>
            <li class="skills__item">
              <p class="paragraph">Adobe Photoshop</p>
              <div class="rectangle--1"></div>
              <div class="rectangle--2"></div>
            </li>
            <li class="skills__item">
              <p class="paragraph">Adobe Photoshop</p>
              <div class="rectangle--1"></div>
              <div class="rectangle--2"></div>
            </li>
          </ul>
        </div>
        <img class="header-mid__image" src="images/man.png" alt="man">
      </div>
    </header>
  </section>
  <!--video-->
  <section>
    <header>
      <div class="container">
        <div class="header-top">
          <div class="header-top__text">
            <h2 class="tittle tittle--h2">Как я работаю</h2>
            <p class="paragraph paragraph--center">Lorem Ipsum - это текст-"рыба", часто используемый в печати и
              вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
          </div>
        </div>
        <div class="header-bot">
          <img class="header-bot__image" src="images/video.png" alt="video">
          <img class="header-bot__image" src="images/play.png" alt="play">
        </div>
      </div>
    </header>
  </section>
  <!--projects-->
  <section>
  </section>
  <!--form-->
  <section>
  </section>
  <!--footer-->
  <section>
  </section>
</body>

</html>