html {
  background: #faf8ef;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: #776e65;
}

.container {
  margin: 0 auto;
  width: 500px;
  display: flex;
  flex-direction: column;

}

.heading {
  display: flex;
  justify-content: space-between;

}

.title {
  display: flex;
  align-self: center;
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}

.scores {
  display: flex;
  gap: 5px;
  height: 100%;
}

.score,
.best {
  align-self: flex-end;
  background: #bbada0;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
  color: #eee4da;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

span {
  margin: 0;
  color: #ffffff;
  font-size: 25px;
}


.btn {
  cursor: pointer;
  outline: none;   
  align-self: flex-end;
  width: fit-content;
  border-radius: 3px;
  background: #8f7a66;
  padding: 0 20px;
  color: #f9f6f2;
  text-decoration: none;
  line-height: 42px;
  border: none;
  font-weight: bold;
}

.btn:hover {
  filter: brightness(75%);
}

.btn:active {
  filter: brightness(100%);
}

.game {
  margin-top: 40px;
  background: #bbada0;
  border-radius: 10px;
  position: relative;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
  opacity: 1;

}

.row {
  display: flex;
  justify-content: center;
  gap: 15px;

}

.cell {
  height: 107px;
  width: 107px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.empty{
  background: rgba(238, 228, 218, 0.35);
}

.tile2 {
  background: #eee4da;
}

.tile4{
  background: #eee1c9;
}

.tile8{
  color: #f9f6f2;
  background: #f3b27a;
}

.tile16{
  color: #f9f6f2;
  background: #f69664;
}

.tile32{
  color: #f9f6f2;
  background: #f77c5f;
}

.tile64{
  color: #f9f6f2;
  background: #f75f3b;
}

.tile128{
  color: #f9f6f2;
  background: #edd073;
}

.tile256{
  color: #f9f6f2;
  background: #edcc62;
}

.tile512{
  color: #f9f6f2;
  background: #edc950;
}

.tile1024{
  color: #f9f6f2;
  background: #edc53f;
  font-size: 40px;
  
}

.tile2048{
  color: #f9f6f2;
  background: #edc22e;
  font-size: 40px;
  
}

.game-over{
  position: absolute;
  opacity: 0;
  width: 500px;
  
  text-align: center;
  line-height: 500px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  z-index: 10;
  transition: all 500ms;
  
}
.win{
  position: absolute;
  opacity: 0;
  width: 500px;
  color: #eee4da;
  text-align: center;
  line-height: 500px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  z-index: 10;
  transition: all 500ms;
  
}